@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bone text-slate-900 font-body antialiased text-base leading-relaxed;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold uppercase tracking-wider;
  }
}

